<div class="card">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">{{oferta.title}}</h5>
    <p class="card-text block-with-text">{{oferta.description}}</p>
    <div class="preco">R$ {{oferta.price}},00</div>
    <a [routerLink]="['/oferta_path']" class="btn btn-primary d-block">Comprar</a>
  </div>
</div>